.options__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  grid-column: 30px;
  row-gap: 30px;
  column-gap: 30px;
}

@media screen and (max-width: 768px) {
  .options__container {
    grid-template-columns: 1fr;
  }
}
