.profile-page__container {
  margin: 141px 197px;
}

.profile-page__title {
  font-weight: 700;
  font-size: 58px;
}

.profile-page__actions {
  margin: 35px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .profile-page__container {
    margin: 56.5px 10px;
  }

  .profile-page__title {
    font-size: 28px;
    line-height: 39px;
  }

  .profile-page__actions button {
    padding: 15px 25px;
  }
}
