.user-board__title {
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
}

.user-board__actions {
  margin: 35px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .user-board__title {
    font-size: 28px;
    line-height: 39px;
  }
}
