.close-button {
  margin: 0 0 10px;
  padding: 2.5px;
  height: 25px;
}

.close-button__container {
  display: flex;
  justify-content: end;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
