.signin-form__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.signin-form__container__error {
  color: var(--danger-color);
}

.signin-form__container__field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.signin-form__container__input {
  border-radius: 5px;
  border: 2px solid var(--text-color);
}

.signin-form__container__input:focus {
  outline: none;
  border-color: blue;
}

.signin-form__container__input--error {
  border-color: var(--danger-color);
}
